.menu--open > .nav {
  background: transparent;
  box-shadow: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 2vh 2.2vw;

  z-index: 3;
  transition: all 1s ease-out;

  @include media('<phone') {
    padding: 2vh 6.2vw;
    background: white;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px,
      rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    border-radius: 0 0 4px 4px;
  }
}

.nav__left {
  flex-basis: 40%;
}

.nav__right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 7.5rem;
  font-size: 1.25rem;
}

.nav__logo {
  display: block;
  height: auto;
  width: max-content;
  position: relative;
}
.nav__logo:hover > .nav__logo__image--hover {
  opacity: 1;
}
.nav__logo:active > .nav__logo__image--hover {
  opacity: 1;
}
.nav__logo__image {
  max-width: 24px;
  height: auto;
  z-index: 1;
}
.nav__logo__image--hover {
  z-index: 2;
  max-width: 24px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.nav__menu__link {
  color: hsl(0, 0%, 30%);

  &:hover {
    color: hsl(0, 0%, 0%);
  }
}

.nav__menu__icon {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.nav__menu__icon__line {
  width: 100%;
  border: 1px $color-black solid;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.44s ease-out;
  // Hamburger
  &:first-of-type {
    transform: translateY(0px) rotate(0deg);
  }
  &:nth-child(2) {
    transform: translateY(8px);
    opacity: 1;
  }
  &:nth-child(3) {
    transform: translateY(16px) rotate(0deg);
  }
}

// add class .nav__menu__icon--active on click
.nav__menu__icon--active > .nav__menu__icon__line {
  // Cross
  &:first-of-type {
    transform: translateY(8px) rotate(45deg);
  }
  &:nth-child(2) {
    transition: all 0.1s ease-out;
    transform: translateY(8px);
    opacity: 0;
  }
  &:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }
}
