nav.nav
	.nav__left 
		a.nav__logo(href="#top")
			img.nav__logo__image(src='./img/logoblack.png' alt='logo')
			img.nav__logo__image--hover(src='./img/logo.png' alt='logo')
	
	ul.nav__right.nav__menu
		.nav__menu__icon
			.nav__menu__icon__line
			.nav__menu__icon__line
			.nav__menu__icon__line