nav.nav
	.nav__left 
		a.nav__logo(href="#")
			img(src='./img/logo.png' alt='logo')
	
	ul.nav__right.nav__menu
		.nav__menu__icon
			.nav__menu__icon__line
			.nav__menu__icon__line
			.nav__menu__icon__line