nav.nav
	.nav__left 
		a.nav__logo(href="#")
			img(src='./img/logo.png' alt='logo')
	
	ul.nav__right.nav__menu
		li.nav__menu__item 
			a.nav__menu__link(href="#") Home
		li.nav__menu__item
			a.nav__menu__link(href="#") Gallery
		li.nav__menu__item
			a.nav__menu__link(href="#") Contact