doctype html
html(lang="en" id="top")
	head
		// Meta
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(content="text/html; charset=UTF-8" name="Content-Type")
		
		base(href="/")

		title='Art Gallery Skewed'

		meta(name="description", content='Fun little project made with GSAP and ScrollTrigger.')
		meta(name="keywords", content="art")
		meta(name="msapplication-TileColor", content="#000")
		meta(name="theme-color", content="#ffffff")

		meta(property="og:type" content="website")
		meta(property="og:site_name" content='Art Gallery Skewed')
		meta(property="og:title" content='by Averyano')
		meta(property="og:description" content='Fun little project made with GSAP and ScrollTrigger.')
		meta(property="og:image" content='./img/og_image.jpg')

		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content='Art Gallery Skewed')
		meta(name="twitter:description" content='Fun little project made with GSAP and ScrollTrigger.')
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:image" content='./img/og_image.jpg')

		// Styles
		link(rel="icon" type="image/x-icon" href='./img/logo.png')
		link(rel="stylesheet", href="./styles/index.scss")

	body
		include ./views/nav
		include ./views/menu

		include ./views/page
		
		include ./views/footer

	script(type="module", src="./js/index.js")