*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  background: $color-white;
  color: $color-black;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: bold;
}

img {
  pointer-events: none;
}
