.cover {
	display: none;
	@extend %center;
}

.gallery {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: center;

	gap: 4.5rem;

	// max-width: 1440px;
	margin: auto;
	padding: 0 7vw;
	margin-top: 24vh;

	&__one {
		margin-top: 14vh;
	}

	&__three {
		margin-top: 20vh;
	}

	&__one,
	&__two,
	&__three {
		width: 33%;
		display: flex;
		flex-direction: column;
		gap: 7rem;
	}
}

.gallery__item {
}
.gallery__img {
}
.gallery__item__bottom {
	display: flex;
	padding: 1rem 1.2rem;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.gallery__title {
	font-size: $font-12;
	color: $color-black;
}
.gallery__title:hover {
	color: $color-gray;
}
.gallery__item__socials {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.gallery__item__socials__link {
	@extend %center;
	height: 100%;
	width: calc(0.7rem + 1vh);
	opacity: 0.75;
}
.gallery__item__socials__link:hover {
	opacity: 1;
}

.gallery__item__socials__icon {
	width: inherit;
	height: inherit;
}
